<div class="add-post-container align-items-center flex-column col-12 d-flex">
    <form  class="col-11 align-items-center flex-column col-lg-8 d-flex" ng-submit="vm.createPost()">
        <div class="d-flex col-12 align-items-center justify-content-between">
            <a href="#/" class="d-lg-none"><img src="./img/left-arrow.svg" alt=""></a>
            <h3>New post</h3>
        </div>
        <textarea class="form-control" rows="3" required ng-model="vm.text"></textarea>
        <button type="submit" class="btn btn-primary col-12 col-lg-4" ng-disabled="form.$invalid">Post</button>
    </form>
</div>
