<nav class="navbar navbar-light fixed-top  header-content">
    <a href="#/" class="col-4 col-lg-2 header-content-header ">Teller</a>
    <a href="#add-post" class="col-4 col-lg-2 d-none d-lg-flex justify-content-center align-items-center header-links"><img src="./img/add-button-inside-black-circle.svg" alt=""><span class="d-none d-lg-block">new post</span></a>
    <a href="#people" class="col-4 col-lg-2 d-none d-lg-flex justify-content-center align-items-center header-links"><img src="./img/team.svg" alt=""><span class="d-none d-lg-block">find people</span></a>
    <a href="#people-online" class="col-4 col-lg-2 d-none d-lg-flex justify-content-center align-items-center header-links"><img src="./img/follower.svg" alt=""><span class="d-none d-lg-block">friends online</span></a>
    <a href="#/" class="col-4 col-lg-2  d-flex justify-content-center align-items-center header-links"><img src="./img/user.svg"
                                                                                                           alt=""><span class="d-none d-lg-block">my page</span></a>
    <a href="#login" class="col-4 col-lg-2  d-flex justify-content-center align-items-center header-links"><img src="./img/logout.svg" alt=""><span class="d-none d-lg-block">exit</span></a>
</nav>
<nav class="navbar navbar-light fixed-top  header-bottom-mobile col-12 d-lg-none d-flex justify-content-around align-items-center">
    <a href="#people" class="col-4 d-flex justify-content-center align-items-center">Find people</a>
    <a href="#people-online" class="col-4 d-flex justify-content-center align-items-center">People online</a>
</nav>