<div class="post-container">
    <div class="main-post-content d-flex flex-column align-items-center">
        <div class="main-post-container col-12 col-lg-6">
            <div class="post-header d-flex justify-content-between justify-content-lg-start">
                <div class="post-header-image"><img src="./img/user-colored.svg" alt=""></div>
                <div class="post-header-name"><p>{{vm.userInfo.firstName}}&nbsp;{{vm.userInfo.lastName}}</p></div>
            </div>
            <div class="post-content">
                <div>{{vm.post.text}}</div>
            </div>
            <div class="post-footer d-flex justify-content-between justify-content-lg-start">
                <div class="post-like d-flex">
                    <img ng-src="{{post.likedCurrent ? './img/like.svg':'./img/like-empty.svg'}}" alt="">
                    <p>{{vm.post.likedByUsers.length}}</p>
                </div>
                <div class="post-comment d-flex">
                    <img src="./img/chat.svg" alt="">
                    <p>{{vm.post.comments.length}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-post-content d-flex flex-column align-items-center" ng-if="vm.comments.length">
        <div class="main-post-container col-12 col-lg-6">
            <h4>Comments</h4>
            <div class="post-header d-flex justify-content-between justify-content-lg-start" ng-repeat="comment in vm.comments">
                <div class="post-header-image"><img src="./img/user-colored.svg" alt=""></div>
                <div class="post-header-name">
                    <p>{{comment.firstName}}&nbsp;{{comment.lastName}}</p>
                    <p class="dark comment-paragraph">{{comment.commentText}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="main-post-content d-flex flex-column align-items-center">
        <div class="main-post-container col-12 col-lg-6">
            <h4>New Comment</h4>
            <form class="post-header d-flex flex-column justify-content-between justify-content-lg-start" ng-submit="vm.sendComment(vm.post.id)">
                <textarea class="form-control" rows="3" ng-model="vm.commentText" required></textarea>
                <button type="submit" class="btn btn-primary col-12 col-lg-4 comment-button" ng-disabled="form.$invalid">Submit</button>
            </form>
        </div>
    </div>
</div>